@charset    "Utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/*font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;*/

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root{
    --font1: Verdana, Tahoma, sans-serif;/*Fonte */
    --font2: 'Passion One', cursive;/*Fonte de Titulo*/
    --font3: 'Sriracha', cursive;/*Fonte padrão*/
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font3), var(--font1);
}
header{

    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font2),var(--font1);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header > p{
    font-family: var(--font1);
    padding-bottom: 50px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a::hover, footer a:hover{
    text-decoration: underline;
}
section.normal{
    background-color: white;
    color: black;
    font-weight: bolder;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
}








footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}